.word {
    text-align: center;
    font-size: xx-large;
    color: black;

}

.word2 {
    text-align: center;
    font-size: large;
    color: black;
}

a {
    font-size: medium;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.container {
    text-align: center;
}

.gallery {
  width: 30%;
}