body {
    background-color: maroon;
    text-align: center;
    font-size: x-large;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoutdance {
    animation: scoutmove 5s linear infinite;
    height: 200px;
    width: auto;
}

@keyframes scoutmove {
    25% {transform: translateX(45vw);}
    75% {transform: translateX(-45vw);}
    100% {transform: translateX(0);}
}

a {
    font-size: small;
    color: black;
}

.aaa {
    font-size: large;
    color: black;
}