body {
    background-color: lightskyblue;
    color: white;
    font-size: xx-large;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    word-spacing: 1px;
}

h2 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    color: inherit;
}

.scout {
    margin-top: 20px;
}

.blinkie {
    width: 500px;
    height: 200px;
    align-self: center;
    margin-top: 20px;
}