.word {
    text-align: center;
    font-size: xx-large;
    color: black
}

.word2 {
    text-align: center;
    font-size: large;
    color: black;
}

.gallery {
    width: 100px;
    height: auto;
}

a {
    font-size: medium;
    color: black;
    margin-top: 20px;
    text-align: center;
}