body {
    background-color: lightskyblue;
    color: white;
    font-size: xx-large;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    word-spacing: 1px;
}

h2 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    color: inherit;
}

.scout {
    margin-top: 20px;
    animation: ScoutRotate 5s linear infinite;
}

@keyframes ScoutRotate {
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.blinkie {
    width: 300px;
    height: auto;
    align-self: center;
    margin-top: 30px;
}

.blinkieclick {
    width: 500px;
    height: auto;
}

a {
    color: white;
    font-size: large;
    margin-top: 30px;
}