body {
    background-color: cadetblue;
    color: white;
    font-size: xx-large;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-decoration-style: wavy;
}
